/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.less';

.userhome {
    .content-width;
    .page-margin;
    &-container {
        width: 740px;
        float: left;
        background-color: #FFB;
    }
 }
