/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.less';

.LoginPage {
    float: left;
    width: 98%;
    height:85%;
    overflow: auto;
    .content-margin;
    .Register {
        float: right;
        //width: 400px;
        margin-top: 50px;
        //padding: 10px;
    }
    .Login {
        float: right;
        //width: 400px;
        margin-top: 50px;
        //margin-right: 50px;
        //padding: 10px;
    }
}

